* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(51, 51, 51);
  color: white;
  font-family: Arial, sans-serif;
}
.header {
  background-color: rgb(44, 44, 44);
  border-bottom: 1px rgb(39, 39, 39) solid;
}
.title {
  font-size: 3em;
  text-align: center;
  padding: 1.5em 0;
}
.nav-bar {
  display: flex;
  background-color: rgb(44, 44, 44);
}
.nav-bar a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  padding: 2em;
  flex-basis: 50%;
}
.nav-bar a:hover {
  background-color: rgb(71, 71, 71);
}
.main {
  background-color: rgb(51, 51, 51);
}
.flex {
  display: flex;
}
.column-1 {
  flex-basis: 20%;
  flex-direction: column;
  text-align: left;
  padding: 2em;
}
.column-2 {
  flex-basis: 80%;
  flex-direction: column;
  text-align: left;
  padding: 2em;
}
.main p {
  padding: 2em;
  font-size: large;
}
.projects {
  display: flex;
  align-items: center;
}
.main a {
  text-align: center;
}
.footer {
  background-color: rgb(44, 44, 44);
  text-align: center;
}
.footer h1 {
  padding: 1em 0;
  text-align: center;
}
.footer div {
  display: flex;
  justify-content: center;
}
.footer p {
  padding: 1.5em 2em;
}
img {
  width: 80%;
  margin: 2em;
}
img:hover {
  opacity: 50%;
}
@media only screen and (max-width: 650px) {
  .nav-bar {
    flex-direction: column;
  }
  .main p {
    padding: 2em;
  }
  .main div {
    flex-direction: column;
  }
  .main a {
    padding: 1em;
  }
  .footer div {
    flex-direction: column;
  }
}
